fastapi
uvicorn
numpy
faiss-cpu
pydantic
sentence-transformers
torch
safetensors
transformers
peft
accelerate
bitsandbytes
llama-cpp-python
scikit-learn
pycryptodome
cryptography
six
streamlit
playwright
pytest
pytest-asyncio
pandas
httpx
