fastapi
uvicorn
numpy
faiss-cpu
pydantic
sentence-transformers
torch
safetensors
transformers
peft
accelerate
bitsandbytes
llama-cpp-python
scikit-learn
pycryptodome
six
streamlit
cryptography
pandas
httpx
