fastapi==0.115.0
uvicorn[standard]==0.30.0
gunicorn==22.0.0
spacy==3.7.0
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.0/en_core_web_sm-3.7.0.tar.gz
neo4j==5.22.0
pydantic==2.8.0
